<html>
    <head>
        <title>Frontend application</title>
        <script type="text/javascript" charset="utf-8">
            window.__PRELOADED_STATE__ = '<%= reduxState %>';
        </script>
        <script src="/dist/bundle-app.js"></script>
    </head>
    <body>
        <div id="reactApp"></div>
    </body>
</html>