{
  "extends": "airbnb",
  "globals": {
      "expect": false
  },
  "rules": {
    "indent": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "new-cap": 0
  },
  "env": {
      "mocha": true
  }
}